<!DOCTYPE html>

<html lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <title>ЖОПА</title>
</head>
      <body>
        <div>
            <h1><a href="/">Первая пейдж</a></h1>
        </div>

        <div>
            <p>тут типа дата</p>
            <h2><a href="">тут типа пост</a></h2>
            <p>мятные пряники</p>
        </div>

        <div>
            <p>тут типа дата</p>
            <h2><a href="">тут типа пост</a></h2>
            <p>военные преступления</p>
        </div>
    </body>
</html>